body {
    margin: 0;
    background: #eee;
    font-family: Besley, serif;
    padding-top: 100px;
  }

  /* Header */

header {
    background-color: #1F2937;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    top: 0;
    position: fixed;
    width: 100%;
}

.header-logo, .header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 36px;
}

.header-logo img {
    width: 100px;
    height: auto;
}

.header-logo h2 {
    color: white;
    font-size: 18px;
}

.header-links ul {
    display: flex;
    gap: 16px;
}

.header-links li {
    list-style-type: none;
}

.header-links a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.header-links a:hover {
    transition: all 0.5s ease-out;
    border-bottom: 2px solid #3882F6;
}

/* End of header */
/* Beginning of Hero section */

section.landing {
    display: flex;
    background-image: url(./img/federico-beccari-L8126OwlroY-unsplash.jpg);
    background-attachment: fixed;
    justify-content: center;
    height: 100vh;
}

.hero.container {
    display: flex;
    padding: 44px;
    gap: 100px;
    background-color: rgba(99, 91, 91, 0.5);
    border-radius: 25px;
    margin: 58px 20px;
    justify-content: space-around;
    align-items: center;
}
.hero.first-section {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero.first-section h1 {
    color: white;
    text-align: center;
    font-size: 32px;
}

.hero.first-section p {
    color: white;
    text-align: center;
    font-size: 20px;
}

button {
    padding: 16px;
    border-radius: 10%;
}

button:hover {
    cursor: pointer;
}

.nasa-img {
    width: 400px;
    height: auto;
    border-radius: 25px;
}

.hero.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section p {
    color: white;
}

.second-section a {
    color: white;
}

/* End of hero section */
/* Beginning of About section */

section.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, black, #1F2937);
    padding-top: 20px;
    padding-bottom: 60px
}

.about-header {
    color: white;
    text-align: center;
    margin: 28px 0;
}

.about-header h1 {
    font-size: 32px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.about.container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.about.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;

}

.about.container img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border: 5px solid #3882F6;
}

.about.container p {
    color: white;
    text-align: center;

}

/* End of About section */
/* Beginnign of Quote section */

section.quote {
    background-image: url(./img/quote/aldebaran-s-qtRF_RxCAo0-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 69vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

section.quote div {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote .wisdom p{
    color: white;
    margin: 0;
    text-align: center;
    font-size: 22px;
}

.quote .wisdomer p {
    color: white;
    margin-top: 16px; 
}

/* End of quote section */
/* Beginning of Contact section */

section.contact {
    background-image: linear-gradient(to top, black, #1F2937);
    padding: 64px 128px;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    background-color: #3882F6;
    border-radius: 25px;
}

.right h2, .right p {
    color: white;
}

.left button {
    color: white;
    background-color: #3882F6;
    border: 4px solid white;
    width: 100px;
    height: auto;
    /* transition: all 500ms; */
}

.left button:hover {
    color: black;
    background-color: white;
    transition: all 1s;
}
/* End of Contact section */
/* Beginning of footer */

footer {
    padding: 32px;
    background-color: #405066;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer div {
    color: white;
}